{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% if request.user == profile.user %}
    {% block page_header %}
        <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    {% endblock %}

    {% block content %}

        <!--          Edit Profile form container          -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 mt-3 mb-3">

                    <!--          Title          -->
                    <hr>
                    <h2 class="logo-font text-center mb-4">Edit Profile</h2>
                    <hr>
                </div>
            </div>
            <div class="card col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-3 mb-3">
                <div class="row mx-0">
                    <div class="col-12 col-md-10 offset-md-1 mt-5 mb-3">
                        <!--          Edit Profile form          -->
                        <form method="POST" action="{% url 'edit_profile' %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name != 'profile_image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <div class="text-center mt-5">
                                <a href="{% url 'profile' %}" class="btn cancel-button font-weight-bold mx-3">Cancel</a>
                                <button class="btn main-button font-weight-bold rounded mx-3">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'js/profile_country_field.js' %}"></script>
{% endblock %}