/****************** Default Fonts and Colours ******************/

:root {
    /* Fonts */ 
    --title-font: 'Roboto', sans-serif;
    --main-font: 'Nunito', sans-serif;

    /* Colours */
    --black: #000000;
    --white: #ffffff;
    --blue: rgba(14, 91, 235, 0.795);
    --background: #2c2b2ce3;
    --background-hover: #1f1e1f;
    --text-color: rgba(0, 0, 0, .5);
    --text-color-hover: rgba(0, 0, 0, .7);

    /* Border */
    --border: 2px solid #000000;
    --boxshadow: 0 0 8px 0.1rem rgba(14, 91, 235, 0.795);
    
}

/****************** Body ******************/

html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 200px);
    color: var(--black);
    font-family: var(--main-font);
}

.main-cover {
    background: url('/media/desktop-motherboard.jpg') no-repeat center center fixed;
}

.text-black {
    color: var(--black);
}

.text-grey {
    color: var(--text-color);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.background-box {
    background-color: var(--background);
    width: fit-content;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/****************** Navbar ******************/

.main-logo-link {
    width: fit-content;
}

.navbar-icon a {
    font-size: 1.15em;
    color: var(--text-color);
}

.navbar-icon a:focus,
.navbar-icon a:active,
.navbar-icon a:hover {
    font-size: 1.20em;
}

.nav-link:hover {
    color: var(--text-color-hover);
}

.dropdown-item:active,
.dropdown-item:hover {
    color: var(--white);
    background-color: var(--gray);
}

.logo-box {
    background-color: var(--black);
    color: var(--white);
    border: var(--border);
    border-radius: 15px;
    font-weight: bolder;
    font-family: var(--title-font);
}

.form-control:focus {
    box-shadow: var(--boxshadow);
}

.search-btn:focus {
    border-radius: 50%;
    box-shadow: none;
}

.search-btn:hover {
    color: var(--text-color-hover);
    transform: scale(1.10);
}

/****************** Banner ******************/

.delivery-banner h4 {
    font-size: 1.2rem;
}

.bg-yellow {
    background: var(--yellow);
}

/****************** Home page ******************/

.shop-now-button {
    background-color: var(--background);
    color: var(--white);
    padding-left: 20px;
    min-width: 200px;
}

.shop-now-button:hover {
    background-color: var(--background-hover);
    color: var(--white);
}

/****************** Footer ******************/

.icon:hover {
    color: var(--text-color-hover);
}

.icon {
    font-size: 1.1em;
}

/****************** Media queries ******************/

/* Slightly larger container on XL screens */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 200px;
    }
}

/* From medium screens sizes from 991px wide and down */

@media (max-width: 991px) {
    .header-container {
        padding-top: 125px;
    }

    body {
        height: calc(100vh - 125px);
    }

    .background-box {
        font-size: 3rem;
    }
}

/* From medium screens sizes from 576px wide and down */

@media (max-width: 576px) {
    .header-container {
        padding-top: 168px;
    }

    body {
        height: calc(100vh - 168px);
    }

    .delivery-banner h4 {
        font-size: 0.8rem;
    }

    .background-box {
        background-color: var(--background);
        width: fit-content;
        font-size: 2.5rem;
    }

    .shop-now-button {
        min-width: auto;
    }
}

/* From Small screens sizes from 368px wide and down */

@media (max-width: 368px) {
    .nav-link {
        padding: 0.5rem 0;
    }
}
