/****************** Default Fonts and Colours ******************/

:root {
    /* Fonts */ 
    --title-font: 'Roboto', sans-serif;
    --main-font: 'Nunito', sans-serif;

    /* Colours */
    --black: #000000;
    --white: #ffffff;
    --blue: rgba(14, 91, 235, 0.795);

    /* Border */
    --border: 2px solid #000000;
    --boxshadow: 0 0 8px 0.1rem rgba(14, 91, 235, 0.795);
    
}

/****************** Body ******************/

html {
    height: 100%;
}

body {
    background: url('/media/desktop-motherboard.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--black);
    font-family: var(--main-font);
}

.text-black {
    color: var(--black);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/****************** Navbar ******************/

.main-logo-link {
    width: fit-content;
}

.navbar-icon {
    font-size: 1.15em;
}

.navbar-icon:focus,
.navbar-icon:active {
    color: var(--blue);
}

.logo-box {
    background-color: var(--black);
    color: var(--white);
    border: var(--border);
    border-radius: 15px;
    font-weight: bolder;
    font-family: var(--title-font);
}

.form-control:focus {
    box-shadow: var(--boxshadow);
}

.search-btn:focus {
    border-radius: 50%;
    box-shadow: none;
}

.search-btn:hover {
    color: var(--blue);
    transform: scale(1.10);
}

/****************** Home page ******************/

.shop-now-button {
    background-color: var(--white);
    padding-left: 20px;
    min-width: 200px;
}

.shop-now-button:hover {
    color: var(--white);
    background-color: var(--gray);
}

/****************** Footer ******************/

.icon:hover {
    color: var(--blue);
}

.icon {
    font-size: 1.1em;
}

/****************** Media queries ******************/

/* Slightly larger container on XL screens */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
