/****************** Default Fonts and Colours ******************/

:root {
    /* Fonts */ 
    --title-font: 'Roboto', sans-serif;
    --main-font: 'Nunito', sans-serif;

    /* Colours */
    --black: #000000;
    --white: #ffffff;
    --blue: rgba(14, 91, 235, 0.795);
    --background: #2c2b2ce3;
    --background-hover: #1f1e1f;
    --text-color: rgba(0, 0, 0, .5);
    --text-color-hover: rgba(0, 0, 0, .7);
    --background-2: rgb(221, 222, 226);

    /* Border */
    --border: 2px solid #000000;
    --boxshadow: 0 0 8px 0.1rem rgba(14, 91, 235, 0.795);
    --product_boxshadow: 0 0 10px 0.1rem rgba(29, 30, 31, 0.795);
    --btn-boxshadow: 0 0 6px 0.1rem rgba(75, 77, 78, 0.795);;
    
}

/****************** Body ******************/

html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 200px);
    color: var(--black);
    font-family: var(--main-font);
}

.main-cover {
    background: url('/media/desktop-motherboard.jpg') no-repeat center center fixed;
}

.text-black {
    color: var(--black);
}

.text-grey {
    color: var(--text-color);
}

.content-container {
    padding-top: 50px;
}

.background-box {
    background-color: var(--background);
    width: fit-content;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.main-button {
    background-color: var(--background);
    color: var(--white);
}

.main-button:focus,
.main-button:hover {
    transform: scale(0.97);
    background-color: var(--background-hover);
    color: var(--white);
    box-shadow: var(--btn-boxshadow);
}

.cancel-button {
    border: 1px solid var(--red);
}

.cancel-button:focus,
.cancel-button:hover {
    transform: scale(0.97);
    color: var(--red);
    box-shadow: var(--btn-boxshadow);
}

.btn-outline-danger:focus,
.btn-outline-danger:hover {
    transform: scale(0.97);
}

/****************** Navbar ******************/

.main-logo-link {
    width: fit-content;
}

.navbar-icon a {
    font-size: 1.15em;
    color: var(--text-color);
}

.navbar-icon a:focus,
.navbar-icon a:active,
.navbar-icon a:hover {
    font-size: 1.20em;
}

.nav-link:hover {
    color: var(--text-color-hover);
}

.dropdown-item {
    background-color: var(--white);
}

.dropdown-item:active,
.dropdown-item:hover {
    color: var(--white);
    background-color: var(--gray);
}

.logo-box {
    background-color: var(--black);
    color: var(--white);
    border: var(--border);
    border-radius: 15px;
    font-weight: bolder;
    font-family: var(--title-font);
}

.form-control:focus {
    box-shadow: var(--boxshadow);
}

.search-btn:hover,
.search-btn:focus {
    color: var(--text-color-hover);
    transform: scale(1.10);
    border-radius: 50%;
    box-shadow: none;
}

/****************** Banner ******************/

.delivery-banner h4 {
    font-size: 1.2rem;
}

.bg-yellow {
    background: var(--yellow);
}

/****************** Home page ******************/

.shop-now-button {
    background-color: var(--background);
    color: var(--white);
    padding-left: 20px;
    min-width: 200px;
}

.shop-now-button:focus,
.shop-now-button:hover {
    transform: scale(0.97);
    background-color: var(--background-hover);
    color: var(--white);
}

/****************** Products ******************/

.select-option-box:hover {
    box-shadow: var(--boxshadow);
}

.card {
    border: var(--border);
    box-shadow: var(--product_boxshadow);
    border-radius: 20px;
}

.card-img-top {
    border-radius: 20px;
}

.features-list {
    padding: 0 0 0 24px;
}

.container-fluid-products {
    background-color: var(--background-2);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* Edit products form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: var(--black);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--red);
    border-color: var(--red);
    box-shadow: var(--background-2);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: var(--black);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

/****************** Footer ******************/

.icon {
    font-size: 1.1em;
}

.icon:hover {
    color: var(--text-color-hover);
}

.icon-socials:focus,
.icon-socials:hover {
    transform: scale(0.97);
}

.mailchimp-button:focus,
.mailchimp-button:hover {
    transform: scale(0.97);
    box-shadow: var(--btn-boxshadow);
}

.privacy-policy a:focus,
.privacy-policy a:hover {
    text-decoration: none;
}

.privacy-policy a small:focus,
.privacy-policy a small:hover {
    color: var(--text-color-hover);
}

/****************** Basket ******************/

.basket-image {
    width: 25%;
}

/****************** Toasts ******************/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/****************** Media queries ******************/

/* Slightly larger container on XL screens */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 168px;
    }
}

/* From medium screens sizes from 991px wide and down */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .background-box {
        font-size: 3rem;
    }

    .basket-image {
        width: 50%;
    }
}

/* From medium screens sizes from 576px wide and down */

@media (max-width: 576px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 100px);
    }
    .delivery-banner h4 {
        font-size: 0.8rem;
    }

    .background-box {
        background-color: var(--background);
        width: fit-content;
        font-size: 2.5rem;
    }

    .shop-now-button {
        min-width: auto;
    }

    .basket-image {
        width: 75%;
    }
}

/* From Small screens sizes from 368px wide and down */

@media (max-width: 368px) {
    .nav-link {
        padding: 0.5rem 0;
    }

    .basket-image {
        width: 100%;
    }
}
