/****************** Profile ******************/

:root {

    /* Colours */
    --placeholder-color: #aab7c4;
}

.form-control::placeholder,
.form-control input::placeholder {
    color: var(--placeholder-color);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: var(--black);
}

#id_default_country option:first-child {
    color: var(--placeholder-color);
}

.purchases-history {
    max-height: 416px;
    overflow-y: auto;
}

.profile-image {
    width: 325px;
    height: 325px;
    border-radius: 50%;
    box-shadow: var(--product_boxshadow);
}

/* From Small screens sizes from 368px wide and down */

@media (max-width: 368px) {
    .profile-image {
        width: 275px;
        height: 275px;
    }
}
