{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!--          404 Error container          -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 mt-3 mb-3">

            <!--          Title          -->
            <hr>
            <h1 class="logo-font text-center font-weight-bold" style="font-size: 30px;">404 Error</h1>
            <hr>
        </div>
    </div>
    <div class="card col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-3 mb-3">
        <div class="row mx-0">
            <div class="col-12 col-md-10 offset-md-1 mt-3 pb-4 text-center">
                <h2 class="text-center mt-3 mb-2" style="font-size: 18px;">The page you are looking for isn't available!
                </h2>
                <br>
                <a href="{% url 'home' %}" class="btn main-button font-weight-bold rounded mx-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left text-white fa-beat fa-sm mr-1"></i>
                    </span>
                    Home Page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}