<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">

            <!--          Display Home button as the logo disapears          -->
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mr-3 text-uppercase"
                id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">

            <!--          All Products tab          -->
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-3 text-uppercase"
                id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">

            <!--          Computing tab          -->
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-3 text-uppercase" id="laptops-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Computing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="laptops-link">
                <a href="{% url 'products' %}?category=laptops" class="dropdown-item">Laptops</a>
                <a href="{% url 'products' %}?category=desktops" class="dropdown-item">Desktops</a>
                <a href="{% url 'products' %}?category=gaming_computers" class="dropdown-item">Gaming Computers</a>
                <a href="{% url 'products' %}?category=laptops,desktops,gaming_computers" class="dropdown-item">All
                    Computers</a>
            </div>
        </li>

        <li class="nav-item dropdown">

            <!--          TVs & Audio tab          -->
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-3 text-uppercase" id="desktops-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TVs & Audio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="desktops-link">
                <a href="{% url 'products' %}?category=tvs" class="dropdown-item">TVs</a>
                <a href="{% url 'products' %}?category=home_cinema" class="dropdown-item">Home cinema</a>
                <a href="{% url 'products' %}?category=headphones" class="dropdown-item">Headphones</a>
                <a href="{% url 'products' %}?category=radios" class="dropdown-item">Radios</a>
                <a href="{% url 'products' %}?category=tvs,home_cinema,headphones,radios" class="dropdown-item">All
                    TVs & Audio</a>
            </div>
        </li>

        <li class="nav-item dropdown">

            <!--          Mobile Tech tab          -->
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-3 text-uppercase" id="specials-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mobile Tech
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=mobile_phones" class="dropdown-item">Mobile phones</a>
                <a href="{% url 'products' %}?category=tablets" class="dropdown-item">Tablets</a>
                <a href="{% url 'products' %}?category=mobile_phones,tablets" class="dropdown-item">All
                    Mobile Tech</a>
            </div>
        </li>
        <li>
            <a href="{% url 'about' %}" class="logo-font font-weight-bold nav-link text-black mr-3 text-uppercase">
                About Us
            </a>
        </li>
        <li>
            <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link text-black mr-3 text-uppercase">
                Contact Us
            </a>
        </li>
    </ul>
</div>