<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">

            <!--          All Products tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">

            <!--          Laptops tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="laptops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="laptops-link">
                <a href="" class="dropdown-item">Gaming</a>
                <a href="" class="dropdown-item">Windows Laptops</a>
                <a href="" class="dropdown-item">MacBook</a>
                <a href="" class="dropdown-item">All Laptops</a>
            </div>
        </li>

        <li class="nav-item dropdown">

            <!--          Desktops tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="desktops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Desktop PCs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="desktops-link">
                <a href="" class="dropdown-item">Gaming</a>
                <a href="" class="dropdown-item">Windows Desktops</a>
                <a href="" class="dropdown-item">iMac</a>
                <a href="" class="dropdown-item">All Desktops</a>
            </div>
        </li>

        <li class="nav-item dropdown">

            <!--          Latest Offers tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Latest Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">new Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>