<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">

            <!--          All Products tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">

            <!--          Laptops tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="laptops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="laptops-link">
                <a href="{% url 'products' %}?category=gaming_laptops" class="dropdown-item">Gaming Laptops</a>
                <a href="{% url 'products' %}?category=laptops" class="dropdown-item">Windows Laptops</a>
                <a href="{% url 'products' %}?category=macbook" class="dropdown-item">MacBook</a>
                <a href="{% url 'products' %}?category=gaming_laptops,windows_laptops,macbook" class="dropdown-item">All Laptops</a>
            </div>
        </li>

        <li class="nav-item dropdown">

            <!--          Desktops tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="desktops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Desktop PCs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="desktops-link">
                <a href="{% url 'products' %}?category=gaming_desktops" class="dropdown-item">Gaming Desktops</a>
                <a href="{% url 'products' %}?category=desktops" class="dropdown-item">Windows Desktops</a>
                <a href="{% url 'products' %}?category=imac" class="dropdown-item">iMac</a>
                <a href="{% url 'products' %}?category=gaming_desktops,windows_desktops,imac" class="dropdown-item">All Desktops</a>
            </div>
        </li>

        <li class="nav-item dropdown">

            <!--          Latest Offers tab          -->
            <a href="#" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Latest Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Offers</a>
            </div>
        </li>
        <li>
            <a href="{% url 'about' %}" class="logo-front font-weight-bold nav-link text-black mr-5 text-uppercase">
                About Us
            </a>
        </li>
    </ul>
</div>