<li class="list-inline-item">

    <!--          Search bar          -->
    <a class="text-grey nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0 font-weight-bold">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">

        <!--          Search bar form          -->
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group border border-black rounded-pill p-1 w-100">
                <input class="form-control rounded-pill border-0" type="text" name="q" placeholder="Search Tech" aria-label="Search">
                <div class="input-group-append align-items-center">
                    <button class="search-btn form-control btn btn-black text-grey border-0" type="submit" aria-label="Search">
                        <span class="p-1">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">

    <!--          Account menu          -->
    <a class="text-grey nav-link d-block d-lg-none" href="#" id="user-options-mobile" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <!--          If User is authenticated          -->
            {% if request.user.is_authenticated %}

            <!--          If is Superuser          -->
            {% if request.user.is_superuser %}
            <div><i class="fa-solid fa-user-secret font-weight-bold"></i></div>
            {% else %}

            <!--          User logged in          -->
            <div><i class="fas fa-user fa-lg font-weight-bold"></i></div>
            {% endif %}
            {% else %}

            <!--          Not logged in          -->
            <div><i class="fa-regular fa-user"></i></div>
            {% endif %}
            <p class="my-0 font-weight-bold">Account</p>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="user-options-mobile">
        {% if request.user.is_authenticated %}

        <!--          If is Superuser          -->
        {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="dropdown-item">Admin page</a>
        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
        <a href="{% url 'edit_about' %}" class="dropdown-item">About Management</a>
        {% endif %}

        <!--          User logged in          -->
        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
        <a href="{% url 'purchases' %}" class="dropdown-item">Purchases</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}

        <!--          Not logged in          -->
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">

    <!--          Shopping basket          -->
    <a class="{% if grand_total %}text-black font-weight-bold{% else %}text-gray-2{% endif %} nav-link d-block d-lg-none"
        href="{% url 'basket' %}">
        <div class="text-center">
            <div><i class="fa-solid fa-basket-shopping font-weight-bold"></i></div>
            <p class="my-0 font-weight-bold">
                {% if grand_total %}
                €{{ grand_total|floatformat:2 }}
                {% else %}
                €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>