{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--          About Us container          -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 mt-3 mb-3">
    
                <!--          Title and sub title          -->
                <h2 class="logo-font text-center mb-4">About Us</h2>
                <hr>
                <h5 class="text-muted">{{ about.name }}</h5>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}