{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--          Edit About form container          -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 mt-3 mb-3">

                <!--          Title          -->
                <hr>
                <h2 class="logo-font text-center mb-4">Edit About</h2>
                <hr>
            </div>
        </div>
        <div class="card col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-3 mb-3">
            <div class="row mx-0">
                <div class="col-12 col-md-10 offset-md-1 mt-3 mb-3">
                    <!--          Edit About form          -->
                    <form method="POST" action="{% url 'edit_about' %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                            <a href="{% url 'about' %}" class="btn cancel-button font-weight-bold">Cancel</a>
                            <button class="btn main-button font-weight-bold rounded">Edit About</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}