{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--          Contact container          -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 mt-3 mb-3">

                <!--          Title and sub title          -->
                <h2 class="logo-font text-center mb-4">Contact</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1">

                <!--          Contact form          -->
                <form method="POST" action="" class="form mb-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <a href="{% url 'home' %}" class="btn cancel-button font-weight-bold">Cancel</a>
                        <button class="btn main-button font-weight-bold rounded">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}