{% extends "base.html" %}
{% load static %}

{% block head_title %}- Contact Us{% endblock %}

{% block extra_js %}
<!--          emailJS          -->
<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script>
    (function () {
        emailjs.init("JyAIyeiKNHAYylrVZ");
    })();
</script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!--          Contact container          -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 mt-3 mb-3">

            <!--          Title and sub title          -->
            <hr>
            <h1 class="logo-font text-center font-weight-bold" style="font-size: 30px;">Contact Us</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 card p-3">

            <h2 class="mb-3 font-weight-bold" style="font-size: 24px;">Contact form</h2>

            <!--          Contact form          -->
            <form class="form mb-2" onsubmit="return sendMail(this);" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn main-button font-weight-bold rounded mx-3 mb-3">Submit</button>
                    <a href="{% url 'home' %}" class="btn cancel-button font-weight-bold mx-3 mb-3">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--          JS file          -->
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}