{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--          Delete product container          -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 mt-3 mb-3">

                <!--          Title and sub title          -->
                <h2 class="logo-font text-center mb-4">Product managements</h2>
                <hr>
                <h5 class="text-muted">Delete product {{ product.name }}</h5>
                <hr>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1">

                <!--          Delete product form          -->
                <form method="POST" class="form mb-5">
                    {% csrf_token %}
                    <h5 class="text-center mb-5">Are you sure that you want to delete this product from the store inventory?</h5>
                    <div class="text-center">
                        <a href="{% url 'product_detail' product.id %}" class="btn cancel-button font-weight-bold">Cancel</a>
                        <button class="btn btn-outline-danger font-weight-bold rounded">Delete product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}