{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--          Edit product container          -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 mt-3 mb-3">

                <!--          Title and sub title          -->
                <h2 class="logo-font text-center mb-4">Product managements</h2>
                <hr>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1">

                <!--          Edit product form          -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center">
                        <a href="{% url 'products' %}" class="btn cancel-button font-weight-bold">Cancel</a>
                        <button class="btn main-button font-weight-bold rounded">Edit product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block postloadjs %}
    {{ block.super }}

    <!--          JS file          -->
    <!-- Displays which image was selected before adding/updating product -->
    <script src="{% static 'js/products.js' %}"></script>
{% endblock %}