{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid-products top-0">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-75">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <div class="row mt-1 mb-2 d-flex flex-column justify-content-start">
                        <div class="col-12 col-md-6">
                            <div class="sort-select-wrapper">
                                <select id="sort-selector" class="form-select-sm select-option-box text-muted rounded border border-dark border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price - low to high</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price - high to low</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating - low to high</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating - high to low</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Rating - A to Z</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Rating - Z to A</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="text-muted mt-3 text-center text-md-left">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small"><a class="text-muted font-weight-bold" href="{% url 'products' %}">All TopTech</a> | </span>
                                {% endif %}
                                {{ products|length }} Tech products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row d-lg-flex justify-content-center">
                        {% for product in products %}
                            <div class="col-xs-12 col-sm-9 col-lg-12 col-xl-10 pt-3 pb-5">
                                <div class="card h-100 d-lg-flex justify-content-lg-between flex-lg-row">
                                    <div class="p-3">
                                        <a href="{% url 'product_detail' product.id %}" width="325" height="325">
                                            <div class="product-image">
                                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }} image">
                                            </div>
                                        </a>    
                                    </div>
                                    <div class="p-3">
                                        <div class="short-description">
                                            <a class="text-decoration-none" href="{% url 'product_detail' product.id %}">
                                                <p class="mt-0 h4 text-black"><strong>{{ product.name }}</strong></p>
                                            </a>
                                            {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fa-solid fa-hashtag"></i> {{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1 text-warning"></i>{{ product.rating }}/5</small>
                                            {% else %}
                                                <small class="text-muted"></small>
                                            {% endif %}
                                            <br class="pt-5">
                                            <ul class="features-list pt-5">
                                                <li>
                                                    {% if product.brand %}
                                                        <strong>Brand: </strong>{{ product.get_brand_display }}
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {% if product.operating_system %}
                                                        <strong>Operating System: </strong>{{ product.get_operating_system_display }}
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {% if product.memory_ram %}
                                                        <strong>Memory Ram: </strong>{{ product.memory_ram }}
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {% if product.display %}
                                                        <strong>Display: </strong>{{ product.display }}
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {% if product.battery_life %}
                                                        <strong>Battery: </strong>{{ product.battery_life }}
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="p-3 d-flex justify-content-between">
                                        <div class="">
                                            <!-- button to add to basket -->
                                        </div>
                                        <div class="d-flex flex-column align-items-end">
                                            <p class="lead font-weight-bold"><i class="fas fa-tag mr-1"></i> €{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}